#header, #page_nav, .breadcrumb, #sidebar, #footer, #bottom, #comments, #respond, .realated_post, #categories_strip, .pos_navigation {
  display: none !important;
}
body, #main, #content, .column, #articletext, #footer, img, .main_photo, .product_details {
  float: none !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border:none !important;
}
 